# ipynb checkpoints:
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# GA4 API files:
HelloAnalytics.py
client_secrets.json
API_user.txt
analyticsreporting.dat

# Models saved:
*.pickle

# Environment:
env/

# Delete files:
Model_MVP.ipynb
CATEGORICAL DATA - DATA EXPLORATION AND FEATURE ENGINEERING.ipynb

